*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cont{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.note{
    width: 500px;
    height: 333px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    font-style: oblique;
    background-image: url(./czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0xOTUtbXludC00Mi5wbmc.webp);
}
p{
    transform: rotate(-5grad);
    margin: 2px;
}